.filter-criteria {
    margin-bottom: 1em;
}

.filter-criteria h3 {
    font-size: 1em;
    margin-top: 0;
}

.filter-criteria div {
    float: left;
    margin-right: 1.65em;
    font-size: 0.85em;
}

.filter-criteria legend {
    display: none;
}

.filter-criteria label {
    width: auto;
    display: block;
    font-weight: normal;
}
